<!-- <div class="card">
  <h4 class="card-header">Sign in to ypur dashboard</h4>
  <div class="card-body">
      <form>
          <div class="mb-3">
              <label class="form-label">Username</label>
              <input type="text" formControlName="username" class="form-control"  />
          </div>
          <div class="mb-3">
              <label class="form-label">Password</label>
              <input type="password" formControlName="password" class="form-control"  />
          </div>
          <div>
              <button class="btn btn-primary">
                  SIGN IN
              </button>

          </div>
      </form>
  </div>
</div> -->

<div class="card-size" fxLayout="column" fxLayoutAlign="center" >
  <mat-card class="card-container">
    <mat-card-content>Simple card</mat-card-content>
  </mat-card>
</div>
