<div class="card-size" fxLayout="column" >
  <mat-card class="card-container">
    <span class="color">
      <h2>Sign in to your dashboard</h2><br>
    </span>
    <form fxLayout="column"  [formGroup]="registerForm">
      <mat-form-field appearance="outline" class="input">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" type="text" formControlName="username"/>
      </mat-form-field>
      <div class="help-block" *ngIf="registerForm.controls['username'].invalid && (registerForm.controls['username'].dirty)">
        Please Enter a valid email address
      </div>
      <mat-form-field appearance="outline" class="input">
        <mat-label>Password</mat-label>
        <input matInput  name="password" placeholder="Password" type="password"  formControlName="password"/>
      </mat-form-field>
      <div *ngIf="f['password'].errors && f['password'].errors['minlength']">
        Password should be atleast 6 character.
      </div><br>

      <div class="button">
        <button mat-raised-button fxLayoutAlign="start" class="submit-button" (click)="onSubmit()">SIGN IN</button>
      </div>
    </form>
  </mat-card>
</div>
your
