.example-spacer {
  flex: auto;
}

.gap
{
  margin-left: 80%;

}
.mainborder{
  background-color:black ;
  color: grey;
}

table {
  width: 100%;
}

#myChart {
  width: 550px !important;
  height: 250px !important;
}

#myChart1 {
  width: 250px !important;
  height: 250px !important;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 1),
    0 1px 1px 0 rgba(0, 0, 0, 1),
    0 1px 3px 0 rgba(0, 0, 0, 1);
}

.mat-cardd {
  width: 85%;
  height: 99%;
}

.center {
  display: flex;
  justify-content: center;
}

#divChart {
  display: block;
}
