.example-spacer {
  flex: auto;
}

.gap
{
  margin-left: 80%;

}


table {
  width: 100%;
}

#myChart {
  width: 550px !important;
  height: 250px !important;
}

#myChart1 {
  width: 250px !important;
  height: 250px !important;
}

.mainborder{
  background-color: black;
  color: grey;
}

.mat-cardd {
  width: 85%;
  margin: auto;
  color: black;
}
.font{
  font-size: 40;
}
.center {
  display: flex;
  justify-content: center;
}

#divChart {
  display: block;
  font-size: 12;

}
.doughnutChart{
  background-color: lightyellow;
  height: 40%;
  border: 5px black;
}

